---
import "../styles/global.css";
import HeaderMain from "../components/HeaderMain.astro";

const site_metadata = {
    title: "BestCodes' Website - Christian, Coder, Creator | Home",
    description:
        "BestCodes is a full-stack developer, christian and creator. This is BestCodes' Official Website.",
    applicationName: "BestCodes' Website",
    authors: [{ name: "BestCodes", url: "https://bestcodes.dev" }],
    openGraph: {
        title: "BestCodes' Website - Christian, Coder, Creator | Home",
        description: "BestCodes' Official Website | Christian, Coder, Creator",
        url: "https://bestcodes.dev",
        siteName: "BestCodes' Website",
    },
};

// Get the title prop if it exists or use the default from site_metadata
const { title: propTitle, mainClass, cloudflare = false, ...props } = Astro.props;

const metadata = {
    ...site_metadata,
    ...props,
    title: propTitle || site_metadata.title,
};

const currentYear = new Date().getFullYear();
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />

        {/* Meta Tags */}
        <title>{metadata.title}</title>
        <meta name="description" content={metadata.description} />
        <meta name="application-name" content={metadata.applicationName} />
        {
            metadata.authors &&
                metadata.authors.map((author: any) => (
                    <meta name="author" content={author.name} />
                ))
        }

        {/* Open Graph Tags */}
        <meta
            property="og:title"
            content={metadata.openGraph?.title || metadata.title}
        />
        <meta
            property="og:description"
            content={metadata.openGraph?.description || metadata.description}
        />
        <meta property="og:url" content={metadata.openGraph?.url} />
        <meta property="og:site_name" content={metadata.openGraph?.siteName} />

        {cloudflare && <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer is:inline />}
    </head>
    <body class="dark:bg-slate-900 overflow-auto flex flex-col min-h-screen">
        <HeaderMain />
        <main class={`flex-grow ${mainClass}`}>
            <slot />
        </main>
        <footer
            class="w-full h-20 border-t border-gray-300 text-black dark:border-gray-700 dark:text-white flex items-center justify-center"
        >
            &copy; {currentYear} Best Codes. All rights reserved.
        </footer>
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
    }
</style>
